@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import './tailwind/index.css';
@import './components/index.css';
@import './template/index.css';
@import './vendors/index.css';
@import './docs/index.css';

.small-table :is(th, td) {
    font-size: 11px;
    /* font-weight: 600; */
}

.small-table :is(td) {
    padding-left: 4px;
    padding-right: 0;
    &:last-child {
        padding-right: 4px;
    }
}

.bordered-cols :is(th, td) {
    @apply border-r border-gray-200 pr-1;
    &:has(input) {
        @apply !p-0;
    }
    input {
        width: 100%;
        height: 100%;
        border-radius: 0;
        border: none;
        outline: none;
        box-shadow: none;
        /* padding: 0; */
    }
}

.disabled-input-suffix .input-suffix-end {
    pointer-events: none;
}

/* form.prevent-edit :is(input, textarea, button) {
    pointer-events: none;
} */